

/* .navbar-text {
  margin-right: 10px;
  text-align: center;
} */

/* .navbar-brand {
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 100%;
} */

/* .nav-link {
  color: #000;
} */


/* .nav-link:hover,
.nav-link:focus {
  color: #007bff;
  text-decoration: underline;
} */